.btn{
	@extend .font-secondary-2;
    @extend .radius-secondary;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    cursor: pointer;
}

.button-primary{
   	@extend .btn;
    background-color: $color-primary;
    &:hover{
        @include color-opacity(0.8);
    }
}

.button-danger{
    @extend .btn;
    background-color: $color-warning;
    &:hover{
        @include color-opacity(0.8);
        background-color: $color-warning;
    }
}

.btn-white{
    @extend .btn;
    background-color: #fff;
    color: $color-primary !important;
    border: 1px solid #DDDDDD !important; 
    padding-left: 15px;
    padding-right: 15px;
    &:hover{
        @include color-opacity(0.8);
        background-color: #fff;
    }
}

.button-secondary{
	@extend .btn;
	background-color: $button-secondary;
	&:hover{
		background-color: $button-secondary-hover;
	}
	&:focus, &:active{
		background-color: $button-secondary-active;
	}
}

.btn-sm{
	@extend .radius-secondary;
	width: 30px;
	height: 30px;
	outline: none;
	cursor: pointer;
	border-style: solid;
	border-width: 1px;
}

.btn-outline-sm{
	@extend .btn-sm;
	border-color: $color-04;
	background-color: transparent;
}

.btn-red-sm{
	@extend .btn-sm;
	background-color: $color-07;
	border: none;
}

.icon-sm{
	width: 14px;
	height: 14px;
	background-size: cover;
}

.icon-create{
	@extend .icon-sm;
	margin: auto;
	background-image: url('/images/icon/button_icon/icon_create_grey.svg');
}

.icon-delete{
	@extend .icon-sm;
	margin: auto;
	background-image: url('/images/icon/button_icon/icon_delete.svg');
}

.btn-file {
    position: relative;
    overflow: hidden;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: white;
    border: 1px solid $color-05;
    font-size: 14px;

    img{
	    height: 12px;
	    display: inline-block;
	    vertical-align: middle;
	    margin-bottom: 2px;
    }
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 100%;
    max-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}

.dropdown-three > img{
    cursor: pointer;
}

.dropdown-three ul > li{
    cursor: pointer;
}

.delete-doc{
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    right: 8px;

    img{
        height: 8px;
    }
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    opacity: 0;
}
[type="checkbox"]:checked + label,
[type="checkbox"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
[type="checkbox"]:checked + label:before,
[type="checkbox"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 1px solid $color-primary;
    border-radius: 5px;
    background: #fff;
}
[type="checkbox"]:checked + label:after,
[type="checkbox"]:not(:checked) + label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: $color-primary;
    border-radius: 3px;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
[type="checkbox"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}