.input-form{
	position: relative;

	@media(min-width: $screen-phone){
		display: table;
	}

	.icon-form{
	    position: absolute;
	    height: 15px;
	    right: 15px;
	    top: 17px;
	}

	.error-message{
		display: none;
		font-size: 12px;
		color: $color-warning;
	}

	&.error{
		.error-message{
			display: block;
		}
	}
}

.form-control.has-error{
	border-color: $color-warning !important;
}

.select-wrapper{
	float: left;
	width: 100%;
	position: relative;

	@media(min-width: $screen-phone){
		width: auto;
	}
	
}

.select-wrapper::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 45%;
    height: 6px;
    width: 12px;
    background-image: url(/images/icon/button_icon/icon_dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
}