.input-form{
	position: relative;

	@media(min-width: $screen-phone){
		display: table;
	}

	.icon-form{
	    position: absolute;
	    height: 15px;
	    right: 15px;
	    top: 17px;
	}

	.error-message{
		display: none;
		font-size: 12px;
		color: $color-warning;
	}

	&.error{
		.error-message{
			display: block;
		}
	}
}

.form-control.has-error{
	border-color: $color-warning !important;
}

.select-wrapper{
	float: left;
	width: 100%;
	position: relative;

	@media(min-width: $screen-phone){
		width: auto;
	}
	
}

.select-wrapper::after{
    content: '';
    position: absolute;
    right: 20px;
    top: 45%;
    height: 6px;
    width: 12px;
    background-image: url(/images/icon/button_icon/icon_dropdown.svg);
    background-repeat: no-repeat;
    background-position: center;
}

.block.input-select{
	position: relative;

	ul.result{
		display: block;
	    position: absolute;
	    top: 40px;
	    width: calc(100% - 12px);
	    border: 1px solid #ddd;
	    background-color: #fff;
	    font-weight: 300;
	    font-size: 14px;
	    border-bottom-left-radius: 4px;
	    border-bottom-right-radius: 4px;
	    z-index: 2;
	    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);

	    li{
	    	padding: 10px 12px;
	    	cursor: pointer;
			&:hover{
				background-color: $color-primary;
				color: #fff;
			}
	    }
	}
}

.Select-control{
	height: 38px !important;
}

.Select-placeholder, .Select-menu-outer{
	font-size: 14px !important;
}

.Select-menu-outer{
	span {
		&:hover{
			background-color: $color-primary !important;
			color: #fff !important;
		}
	}
}

.Select-value{
	background-color: #fff !important;
	margin: 5px;
    border: 1px solid #d5d5d5 !important;
    border-radius: 5px !important;

	.Select-value-icon{
	    color: #C43737;
	    font-weight: lighter;
	    border: none;
	    float: right;
	    padding: 5px 10px 5px 5px;

	    &:hover{
	    	background-color: transparent !important;
	    	color: #C43737 !important;
	    }
	}

	.Select-value-label{
		padding: 5px 5px 5px 10px !important;
	}
}

.is-focused:not(.is-open) > .Select-control{
	border-color: #d5d5d5 !important;
	box-shadow: none !important;
}

.Select-arrow{
	border: none !important;
	height: 16px;
    width: 16px;
    background-image: url(/images/icon/button_icon/icon_plus.svg);
    background-repeat: no-repeat;
    background-position: center;

}

.Select-clear{
	font-size: 24px !important;
    font-weight: 200 !important;
    color: #c94646 !important;
    line-height: 0 !important;
}


.react-datepicker__month-container{
	@media (max-width: $screen-phone){
	    height: 200px;
		overflow-y: scroll;
	}
}

.react-datepicker__day-name {
	@media(max-width: $screen-phone){
		width: 1.5rem;
		font-size: 12px;
	}
}

.react-datepicker__day{
	@media(max-width: $screen-phone){
		float: left;
	}
}

.add-popup .popup-container .box-content .content .row-flex.col-2.table{
	.input-form{
		.react-datepicker-wrapper{
			.react-datepicker__input-container{
				.form-control{
					@media(max-width: $screen-phone){
						width: calc(100% - 7px) !important;
					}
				}
			}
		}
	}
}