@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
@import "variable";



//mixins style
@mixin gradient-color($color-1, $color-2){
    background: -webkit-linear-gradient(right top,$color-1, $color-2);
    background: -moz-linear-gradient(right top,$color-1, $color-2);
    background: -o-linear-gradient(right top,$color-1, $color-2);
    background: linear-gradient(right top,$color-1, $color-2);
}

@mixin border-radius($radius){
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    border-radius: $radius;
}

@mixin border-radius-bottom($left, $right){
    -webkit-border-bottom-left-radius: $left;
    -moz-border-bottom-left-radius: $left;
    -ms-border-bottom-left-radius: $left;
    border-bottom-left-radius: $left;

    -webkit-border-bottom-right-radius: $right;
    -moz-border-bottom-right-radius: $right;
    -ms-border-bottom-right-radius: $right;
    border-bottom-right-radius: $right;
}

@mixin font-family($font-1, $font-2){
    font-family: $font-1, $font-2;
}

@mixin form-input($width){
    @extend .form-primary;
    width: $width;
}

@mixin color-opacity($opacity){
    background-color : rgba(39, 161, 195, $opacity);
}
@mixin color-opacity-2($opacity){
    background-color : rgba(255, 255, 255, $opacity);
}
@mixin color-opacity-3($opacity){
    background-color : rgba(0, 0, 0, $opacity);
}
@mixin color-opacity-4($opacity){
    background-color : rgba(57, 57, 57, $opacity);
}

//base style
*{
    @include font-family('Roboto', 'sans-serif');
}
.gradient-color-primary{
    @include gradient-color($color-secondary, $color-primary);
}

.gradient-color-warning{
    @include gradient-color($color-warning-secondary, $color-warning);
}

.radius-primary{
    @include border-radius(10px);
}

.radius-secondary{
    @include border-radius(5px);
}

.radius-bottom-primary{
    @include border-radius-bottom(5px, 5px);
}

.font-family-primary{
    @include font-family('Roboto', 'sans-serif');
}

.font-primary{
    @include font-family('Roboto', 'sans-serif');
    font-size: $font-size-02;
    color: $color-02;
}

.font-secondary{
    @include font-family('Roboto', 'sans-serif');
    font-size: $font-size-02;
    color: $color-secondary;
}

.font-secondary-2{
    @include font-family('Roboto', 'sans-serif');
    font-size: $font-size-02;
    color: $color-01;
}

.font-secondary-3{
    @include font-family('Roboto', 'sans-serif');
    font-size: $font-size-04;
    color: $color-01;
}

.font-secondary-4{
    @include font-family('Roboto', 'sans-serif');
    font-size: $font-size-02;
    color: $color-03;
}

.font-secondary-5{
    @include font-family('Roboto', 'sans-serif');
    font-size: $font-size-06;
    color: $color-primary;
}

.font-secondary-6{
    @include font-family('Roboto', 'sans-serif');
    font-size: $font-size-03;
    color: $color-primary;
}

.form-primary{
    @extend .radius-secondary;
    border: 1px solid $color-04;
    width: calc(100% - 15px);
    height: 40px;
    font-size: $font-size-02;
    padding-left: 15px;
    outline: none;
}

.checkbox-primary{
    @extend .radius-secondary;
    border: 1px solid $color-04;
    
    cursor: pointer;
    font-size: $font-size-02;
    outline: none;
}

.placeholder-primary{
    &::-webkit-input-placeholder {
        color: $color-03;
      }
    &::-moz-placeholder {
        color: $color-03;
      }
    &:-ms-input-placeholder {
        color: $color-03;
      }
    &:-moz-placeholder {
        color: $color-03;
      }
}

.select-option{
    @extend .font-primary;
    float: left;
    @include border-radius(5px);
    -webkit-appearance: none;
    border: 1px solid $color-04;
    background: none;
    outline: none;
    color: $color-03;
}

.form-control{
    @extend .placeholder-primary;
    display: block;
    float: left;
    bottom: 0;
    top: 100px;
    outline: none;
    padding: 0 0 0 12px;
    border: 1px solid $color-04;
    margin: 5px 0 !important;
    width: calc(100% - 15px);
    height: 38px;
    border-radius: 5px;
    font-size: 14px;
}

//Transitions
.transition{
    transition: all 0.25s ease-in-out;
}

*{
    padding: 0;
    margin: 0;
}

//table
.box-top{
    .count-item{
        padding: 0 25px 25px 26px;
        margin: 5px 0 0 0;
        @extend .font-secondary-5;
        float: left;
    }
    .select-wrapper{
        &:after{
            top: 14px;
            right: 20px;
        }
    }
    .option-input{
        @extend .select-option;
        margin: -5px 10px 0 0;
        width: 185px;
        height: 40px;
        padding: 12px;
        
    }
    .search-item{
        display: block;
        float: left;
        bottom: 0;
        top: 100px;
        outline: none;
        padding: 0 0 0 12px;
        @extend .font-primary;
        border: 1px solid $color-04;
         margin: -5px 10px 0 0 !important;
        width: 185px;
        height: 38px;
        @include border-radius(5px);
    }

    .role-filter{
        margin: -5px 0 0 12px!important;
    }
    .box-btn{
        margin: -7px 27px 0 0;
        max-width: 130px;
        min-width: 130px;
    }
}
.box-table{
    table{
        border-collapse: collapse;
        width: 100%;
        thead{
            border-top:1px solid $color-05;
            border-bottom:1px solid $color-05;
            tr{                        
                th{
                    &:first-child{
                        padding: 0 0 0 27px;
                    }
                    @extend .font-primary;
                    padding: 14px 14px 14px 14px;
                    text-align: left;
                    &:last-child{
                        text-align: center;
                    }
                }
            }
        }
        tbody{
            border-bottom:1px solid $color-05;
            tr{
                height: 56px;
                td{
                    
                    &:first-child{
                        padding: 0 0 0 27px;
                        font-weight: 600;
                    }
                    // padding: 10px 10px 10px 10px;
                    padding: 0 0 0 15px;
                    @extend .font-primary;
                    line-height: 20px;
                }
            }
            .list-grey{
                background-color: $color-06;
            }
        }
    }
}

.box-footer-table{
    margin: 0 0 5px 0;
    .footer-table{
        width: 100%;
        height: 56px;
        border-bottom:1px solid $color-05;
        .text-footer{
            @extend .font-primary;
            padding: 20px 0 0 27px;
        }
    }

    .box-pagination{
        width: 200px;
        .pagination-content{
            position: absolute;
            right: 27px;
            margin: -43px 0 0 0;
          .pagination{  
            @extend .font-primary;
            .active{
              border-radius: 50px;
            //   border: 1px solid $primary-color;
            //   background-color: $bg-secondary-color;
            }
            li{
                padding: 0 0 0 30px;
                display: inline-block;
                list-style: none;
                &:first-child{
                    position: relative;
                    margin: -10px 0 0 0;
                }
            }
  
            li>a, li>span{
              cursor: pointer;
              border: none;
              border-radius: 50px;
              margin-left: 5px!important;

              &:active, &:focus{
                outline: none;
                border: none;
              }
            }

            .box-lable{
                border: 1px solid $color-04;
                width: 26px;
                height: 26px;
                @extend .radius-secondary;
                display: inline-block;
                img{
                    margin: 8px 0 0 9px;
                    width: 6px;
                    height: auto;
                }
            }
          }
        }
    }
}