.block{
    display: block;
}

.table{
    display: table !important;

    @media(min-width: $screen-phone){
        display: flex !important;
    }
}

.hidden{
    display: none;
}

.text-center{
	text-align: center !important;
}

.text-success{
    color: $color-secondary !important;
}

.text-info{
    color: $color-primary;
}

.text-danger{
    color: $color-warning !important;
}

.text-color{
    color: $color-02 !important;
}

.text-right{
    text-align: right !important;
}

.text-small{
    font-size: 12px;
}

.strong{
	font-weight: bold;
}

.normal{
    font-weight: normal !important;

    label{
        font-weight: normal;
        white-space: nowrap;
    }
}

.pointer{
    cursor: pointer;
}

.nowrap{
    white-space: nowrap;
}

.row-flex {
    display: block;

    @media (min-width: $screen-phone) {
        display: flex;
    }

    &.flex-xs {
        display: flex;

        @media(min-width: 768px) {
            display: flex;
        }

        @media(min-width: 992px) {
            display: flex;
        }
    }

    &.flex-tablet {
        display: block;

        @media (min-width: 992px) {
            display: flex;
        }
    }

    &.flex-center {
        align-items: center;
        justify-content: center;
    }

    &.flex-top {
        align-items: start;
        justify-content: start;
    }

    &.flex-space {
      justify-content: space-between;
    }
}

.mg-t-10{
    margin-top: 10px;
}

.mg-r-10{
    margin-right: 10px !important;
}

.mg-t-20{
    margin-top: 20px !important;
}

.mg-t-5{
    margin-top: 5px;
}

.mg-l-10{
    margin-left: 10px;
}

.mg-r-0{
    margin-right: 0px !important;
}

.mg-r-5{
    margin-right: 5px !important;
}

.mg-b-10{
    margin-bottom: 10px;
}

.mg-b-20{
    margin-bottom: 10px;
}

.mg-r-10{
    margin-right: 10px !important;
}

.pd-25{
    padding: 25px;
}

.pd-l-10{
    padding-left: 10px;
}

.mg-t-20{
    margin-top: 20px;
}

.mg-t-40{
    margin-top: 40px;
}

.pd-l-20{
    padding-left: 20px;
}

.pull-left{
    float: left;
}

.pd-b-100{
    padding-bottom: 100px !important;
}

.pd-b-0{
    padding-bottom: 0px !important;
}

.pull-right{
    float: right;
}

.h-160{
    height: 160px !important;
}

.w-100{
    width: 100% !important;
}

.list-unstyled{
    list-style: none;
}

.lower{
    text-transform: lowercase;
}
