@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900");
* {
  font-family: "Roboto", "sans-serif"; }

.gradient-color-primary, .sidebar, .login-comp .container-login, .add-popup .popup-container .box-content .footer-content {
  background: -webkit-linear-gradient(right top, #79BE75, #27A1C3);
  background: -moz-linear-gradient(right top, #79BE75, #27A1C3);
  background: -o-linear-gradient(right top, #79BE75, #27A1C3);
  background: linear-gradient(right top, #79BE75, #27A1C3); }

.radius-primary, .login-comp .container-login .box-form-login .content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.radius-secondary, .form-primary, .login-comp .container-login .box-form-login .content .form form .form-input, .checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox, .button-primary, .add-popup .popup-container .box-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.radius-bottom-primary, .add-popup .popup-container .box-content .footer-content {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.font-family-primary, .login-comp .container-login .box-form-login .content .title {
  font-family: "Roboto", "sans-serif"; }

.font-primary, .header-comp .header-container .box-title p, .header-comp .header-container .box-user .box-user-text .username, .login-comp .container-login .box-form-login .content .form form .remember-me, .user-access .user-access-container .box-top .option-input, .user-access .user-access-container .box-top .search-item, .user-access .user-access-container .box-table table thead tr th, .user-access .user-access-container .box-table table tbody tr td, .user-access .user-access-container .box-footer-table .footer-table .text-footer, .add-popup .popup-container .box-content .content .sub-title {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #767676; }

.font-secondary, .login-comp .container-login .box-form-login .content .forgot-password a {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #79BE75; }

.font-secondary-2, .button-primary, .list-menu .box-text-menu p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #FFFFFF; }

.font-secondary-3 {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  color: #FFFFFF; }

.font-secondary-4, .header-comp .header-container .box-user .box-user-text .status {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #B7B7B7; }

.font-secondary-5, .user-access .user-access-container .box-top .count-item {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  color: #27A1C3; }

.font-secondary-6, .add-popup .popup-container .box-content .content .title {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  color: #27A1C3; }

.form-primary, .login-comp .container-login .box-form-login .content .form form .form-input {
  border: 1px solid #DDDDDD;
  width: calc(100% - 15px);
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  outline: none; }

.checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox {
  border: 1px solid #DDDDDD;
  cursor: pointer;
  font-size: 14px;
  outline: none; }

.placeholder-primary ::-webkit-input-placeholder, .login-comp ::-webkit-input-placeholder, .user-access ::-webkit-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary ::-moz-placeholder, .login-comp ::-moz-placeholder, .user-access ::-moz-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-ms-input-placeholder, .login-comp :-ms-input-placeholder, .user-access :-ms-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-moz-placeholder, .login-comp :-moz-placeholder, .user-access :-moz-placeholder {
  color: #B7B7B7; }

.transition {
  transition: all 0.25s ease-in-out; }

* {
  padding: 0;
  margin: 0; }

.button-primary {
  background-color: #27A1C3;
  border: none;
  width: 100%;
  height: 40px;
  outline: none;
  cursor: pointer; }
  .button-primary:hover {
    background-color: rgba(39, 161, 195, 0.8); }

* {
  font-family: "Roboto", "sans-serif"; }

.gradient-color-primary, .sidebar, .login-comp .container-login, .add-popup .popup-container .box-content .footer-content {
  background: -webkit-linear-gradient(right top, #79BE75, #27A1C3);
  background: -moz-linear-gradient(right top, #79BE75, #27A1C3);
  background: -o-linear-gradient(right top, #79BE75, #27A1C3);
  background: linear-gradient(right top, #79BE75, #27A1C3); }

.radius-primary, .login-comp .container-login .box-form-login .content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.radius-secondary, .form-primary, .login-comp .container-login .box-form-login .content .form form .form-input, .checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox, .button-primary, .add-popup .popup-container .box-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.radius-bottom-primary, .add-popup .popup-container .box-content .footer-content {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.font-family-primary, .login-comp .container-login .box-form-login .content .title {
  font-family: "Roboto", "sans-serif"; }

.font-primary, .header-comp .header-container .box-title p, .header-comp .header-container .box-user .box-user-text .username, .login-comp .container-login .box-form-login .content .form form .remember-me, .user-access .user-access-container .box-top .option-input, .user-access .user-access-container .box-top .search-item, .user-access .user-access-container .box-table table thead tr th, .user-access .user-access-container .box-table table tbody tr td, .user-access .user-access-container .box-footer-table .footer-table .text-footer, .add-popup .popup-container .box-content .content .sub-title {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #767676; }

.font-secondary, .login-comp .container-login .box-form-login .content .forgot-password a {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #79BE75; }

.font-secondary-2, .button-primary, .list-menu .box-text-menu p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #FFFFFF; }

.font-secondary-3 {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  color: #FFFFFF; }

.font-secondary-4, .header-comp .header-container .box-user .box-user-text .status {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #B7B7B7; }

.font-secondary-5, .user-access .user-access-container .box-top .count-item {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  color: #27A1C3; }

.font-secondary-6, .add-popup .popup-container .box-content .content .title {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  color: #27A1C3; }

.form-primary, .login-comp .container-login .box-form-login .content .form form .form-input {
  border: 1px solid #DDDDDD;
  width: calc(100% - 15px);
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  outline: none; }

.checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox {
  border: 1px solid #DDDDDD;
  cursor: pointer;
  font-size: 14px;
  outline: none; }

.placeholder-primary ::-webkit-input-placeholder, .login-comp ::-webkit-input-placeholder, .user-access ::-webkit-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary ::-moz-placeholder, .login-comp ::-moz-placeholder, .user-access ::-moz-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-ms-input-placeholder, .login-comp :-ms-input-placeholder, .user-access :-ms-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-moz-placeholder, .login-comp :-moz-placeholder, .user-access :-moz-placeholder {
  color: #B7B7B7; }

.transition {
  transition: all 0.25s ease-in-out; }

* {
  padding: 0;
  margin: 0; }

.header-comp {
  margin: 0 0 0 235px; }
  .header-comp .header-container {
    position: fixed;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #D6D6D6; }
    .header-comp .header-container .box-title {
      position: inherit;
      padding: 24px 30px 0 26px; }
      .header-comp .header-container .box-title p {
        font-size: 25px !important;
        font-weight: 300; }
    .header-comp .header-container .header-icon img {
      cursor: pointer;
      width: 20px; }
    .header-comp .header-container .box-logout {
      position: inherit;
      padding: 26px 0 26px 0;
      right: 30px;
      max-width: 20px; }
    .header-comp .header-container .box-setting {
      position: inherit;
      padding: 27px 0 27px 0;
      right: 80px;
      max-width: 20px; }
    .header-comp .header-container .box-user {
      margin: 19px 0 0 0;
      right: 130px;
      position: inherit; }
      .header-comp .header-container .box-user .box-img-user {
        float: left;
        display: block;
        width: 37px;
        height: 37px;
        border-radius: 50%;
        overflow: hidden; }
        .header-comp .header-container .box-user .box-img-user img {
          width: 60px; }
      .header-comp .header-container .box-user .box-user-text {
        padding-left: 45px; }
        .header-comp .header-container .box-user .box-user-text .username {
          font-weight: 700;
          padding-bottom: 4px; }

* {
  font-family: "Roboto", "sans-serif"; }

.gradient-color-primary, .sidebar, .login-comp .container-login, .add-popup .popup-container .box-content .footer-content {
  background: -webkit-linear-gradient(right top, #79BE75, #27A1C3);
  background: -moz-linear-gradient(right top, #79BE75, #27A1C3);
  background: -o-linear-gradient(right top, #79BE75, #27A1C3);
  background: linear-gradient(right top, #79BE75, #27A1C3); }

.radius-primary, .login-comp .container-login .box-form-login .content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.radius-secondary, .form-primary, .login-comp .container-login .box-form-login .content .form form .form-input, .checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox, .button-primary, .add-popup .popup-container .box-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.radius-bottom-primary, .add-popup .popup-container .box-content .footer-content {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.font-family-primary, .login-comp .container-login .box-form-login .content .title {
  font-family: "Roboto", "sans-serif"; }

.font-primary, .header-comp .header-container .box-title p, .header-comp .header-container .box-user .box-user-text .username, .login-comp .container-login .box-form-login .content .form form .remember-me, .user-access .user-access-container .box-top .option-input, .user-access .user-access-container .box-top .search-item, .user-access .user-access-container .box-table table thead tr th, .user-access .user-access-container .box-table table tbody tr td, .user-access .user-access-container .box-footer-table .footer-table .text-footer, .add-popup .popup-container .box-content .content .sub-title {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #767676; }

.font-secondary, .login-comp .container-login .box-form-login .content .forgot-password a {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #79BE75; }

.font-secondary-2, .button-primary, .list-menu .box-text-menu p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #FFFFFF; }

.font-secondary-3 {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  color: #FFFFFF; }

.font-secondary-4, .header-comp .header-container .box-user .box-user-text .status {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #B7B7B7; }

.font-secondary-5, .user-access .user-access-container .box-top .count-item {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  color: #27A1C3; }

.font-secondary-6, .add-popup .popup-container .box-content .content .title {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  color: #27A1C3; }

.form-primary, .login-comp .container-login .box-form-login .content .form form .form-input {
  border: 1px solid #DDDDDD;
  width: calc(100% - 15px);
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  outline: none; }

.checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox {
  border: 1px solid #DDDDDD;
  cursor: pointer;
  font-size: 14px;
  outline: none; }

.placeholder-primary ::-webkit-input-placeholder, .login-comp ::-webkit-input-placeholder, .user-access ::-webkit-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary ::-moz-placeholder, .login-comp ::-moz-placeholder, .user-access ::-moz-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-ms-input-placeholder, .login-comp :-ms-input-placeholder, .user-access :-ms-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-moz-placeholder, .login-comp :-moz-placeholder, .user-access :-moz-placeholder {
  color: #B7B7B7; }

.transition {
  transition: all 0.25s ease-in-out; }

* {
  padding: 0;
  margin: 0; }

.sidebar {
  width: 235px;
  height: 100vh;
  padding: 26px 0 0 0;
  position: fixed; }
  .sidebar .container-sidebar .box-list {
    z-index: 2; }
    .sidebar .container-sidebar .box-list .box-expand-list {
      margin-top: -5px;
      width: 100%;
      height: auto;
      background-color: rgba(0, 0, 0, 0.1); }
  .sidebar .container-sidebar .box-image {
    max-width: 72px;
    padding: 0 0 35px 26px; }
  .sidebar .container-sidebar .bg-sidebar {
    position: fixed;
    z-index: -1; }
    .sidebar .container-sidebar .bg-sidebar img {
      position: fixed;
      bottom: 0;
      width: calc(235px + 26px);
      margin: -150px 0 0 -26px; }

* {
  font-family: "Roboto", "sans-serif"; }

.gradient-color-primary, .sidebar, .login-comp .container-login, .add-popup .popup-container .box-content .footer-content {
  background: -webkit-linear-gradient(right top, #79BE75, #27A1C3);
  background: -moz-linear-gradient(right top, #79BE75, #27A1C3);
  background: -o-linear-gradient(right top, #79BE75, #27A1C3);
  background: linear-gradient(right top, #79BE75, #27A1C3); }

.radius-primary, .login-comp .container-login .box-form-login .content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.radius-secondary, .form-primary, .login-comp .container-login .box-form-login .content .form form .form-input, .checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox, .button-primary, .add-popup .popup-container .box-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.radius-bottom-primary, .add-popup .popup-container .box-content .footer-content {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.font-family-primary, .login-comp .container-login .box-form-login .content .title {
  font-family: "Roboto", "sans-serif"; }

.font-primary, .header-comp .header-container .box-title p, .header-comp .header-container .box-user .box-user-text .username, .login-comp .container-login .box-form-login .content .form form .remember-me, .user-access .user-access-container .box-top .option-input, .user-access .user-access-container .box-top .search-item, .user-access .user-access-container .box-table table thead tr th, .user-access .user-access-container .box-table table tbody tr td, .user-access .user-access-container .box-footer-table .footer-table .text-footer, .add-popup .popup-container .box-content .content .sub-title {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #767676; }

.font-secondary, .login-comp .container-login .box-form-login .content .forgot-password a {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #79BE75; }

.font-secondary-2, .button-primary, .list-menu .box-text-menu p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #FFFFFF; }

.font-secondary-3 {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  color: #FFFFFF; }

.font-secondary-4, .header-comp .header-container .box-user .box-user-text .status {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #B7B7B7; }

.font-secondary-5, .user-access .user-access-container .box-top .count-item {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  color: #27A1C3; }

.font-secondary-6, .add-popup .popup-container .box-content .content .title {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  color: #27A1C3; }

.form-primary, .login-comp .container-login .box-form-login .content .form form .form-input {
  border: 1px solid #DDDDDD;
  width: calc(100% - 15px);
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  outline: none; }

.checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox {
  border: 1px solid #DDDDDD;
  cursor: pointer;
  font-size: 14px;
  outline: none; }

.placeholder-primary ::-webkit-input-placeholder, .login-comp ::-webkit-input-placeholder, .user-access ::-webkit-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary ::-moz-placeholder, .login-comp ::-moz-placeholder, .user-access ::-moz-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-ms-input-placeholder, .login-comp :-ms-input-placeholder, .user-access :-ms-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-moz-placeholder, .login-comp :-moz-placeholder, .user-access :-moz-placeholder {
  color: #B7B7B7; }

.transition {
  transition: all 0.25s ease-in-out; }

* {
  padding: 0;
  margin: 0; }

.list-menu {
  opacity: 0.6;
  padding: 14px 10px 10px 26px;
  margin-bottom: 5px;
  cursor: pointer; }
  .list-menu:hover {
    background-color: rgba(255, 255, 255, 0.2); }
  .list-menu .box-icon {
    max-width: 23px; }
  .list-menu .box-text-menu {
    margin: -22px 0 0 35px;
    float: left; }

.list-menu-active {
  opacity: 1;
  position: relative; }
  .list-menu-active .active-mark {
    position: absolute;
    margin: -3px 0 0 0;
    right: 0;
    bottom: 16px;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #FFFFFF; }

* {
  font-family: "Roboto", "sans-serif"; }

.gradient-color-primary, .sidebar, .login-comp .container-login, .add-popup .popup-container .box-content .footer-content {
  background: -webkit-linear-gradient(right top, #79BE75, #27A1C3);
  background: -moz-linear-gradient(right top, #79BE75, #27A1C3);
  background: -o-linear-gradient(right top, #79BE75, #27A1C3);
  background: linear-gradient(right top, #79BE75, #27A1C3); }

.radius-primary, .login-comp .container-login .box-form-login .content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.radius-secondary, .form-primary, .login-comp .container-login .box-form-login .content .form form .form-input, .checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox, .button-primary, .add-popup .popup-container .box-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.radius-bottom-primary, .add-popup .popup-container .box-content .footer-content {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.font-family-primary, .login-comp .container-login .box-form-login .content .title {
  font-family: "Roboto", "sans-serif"; }

.font-primary, .header-comp .header-container .box-title p, .header-comp .header-container .box-user .box-user-text .username, .login-comp .container-login .box-form-login .content .form form .remember-me, .user-access .user-access-container .box-top .option-input, .user-access .user-access-container .box-top .search-item, .user-access .user-access-container .box-table table thead tr th, .user-access .user-access-container .box-table table tbody tr td, .user-access .user-access-container .box-footer-table .footer-table .text-footer, .add-popup .popup-container .box-content .content .sub-title {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #767676; }

.font-secondary, .login-comp .container-login .box-form-login .content .forgot-password a {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #79BE75; }

.font-secondary-2, .button-primary, .list-menu .box-text-menu p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #FFFFFF; }

.font-secondary-3 {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  color: #FFFFFF; }

.font-secondary-4, .header-comp .header-container .box-user .box-user-text .status {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #B7B7B7; }

.font-secondary-5, .user-access .user-access-container .box-top .count-item {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  color: #27A1C3; }

.font-secondary-6, .add-popup .popup-container .box-content .content .title {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  color: #27A1C3; }

.form-primary, .login-comp .container-login .box-form-login .content .form form .form-input {
  border: 1px solid #DDDDDD;
  width: calc(100% - 15px);
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  outline: none; }

.checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox {
  border: 1px solid #DDDDDD;
  cursor: pointer;
  font-size: 14px;
  outline: none; }

.placeholder-primary ::-webkit-input-placeholder, .login-comp ::-webkit-input-placeholder, .user-access ::-webkit-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary ::-moz-placeholder, .login-comp ::-moz-placeholder, .user-access ::-moz-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-ms-input-placeholder, .login-comp :-ms-input-placeholder, .user-access :-ms-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-moz-placeholder, .login-comp :-moz-placeholder, .user-access :-moz-placeholder {
  color: #B7B7B7; }

.transition {
  transition: all 0.25s ease-in-out; }

* {
  padding: 0;
  margin: 0; }

.login-comp {
  z-index: 10; }
  .login-comp .container-login {
    width: 100%;
    height: 100vh; }
    .login-comp .container-login .box-form-login {
      margin: 0 auto 0 auto;
      padding: 150px 0 0 0;
      max-width: 390px; }
      .login-comp .container-login .box-form-login .content {
        background-color: #FFFFFF;
        width: 390px;
        height: 390px; }
        .login-comp .container-login .box-form-login .content .box-typeface-image {
          margin: 0 auto 0 auto;
          padding: 30px 0 0 0;
          max-width: 100px; }
          .login-comp .container-login .box-form-login .content .box-typeface-image .typeface-image {
            width: 100px; }
        .login-comp .container-login .box-form-login .content .title {
          margin: 13px 0 0 0;
          text-align: center;
          font-size: 15px;
          font-weight: 700;
          color: #767676; }
        .login-comp .container-login .box-form-login .content .form {
          margin: 30px 0 0 0;
          padding: 0 40px 0 40px; }
          .login-comp .container-login .box-form-login .content .form form .form-input {
            margin: 0 0 13px 0; }
          .login-comp .container-login .box-form-login .content .form form .add-checkbox {
            margin: 0px 0 0 0;
            float: left; }
          .login-comp .container-login .box-form-login .content .form form .remember-me {
            margin: -1.5px 0 0 20px; }
        .login-comp .container-login .box-form-login .content .forgot-password {
          margin: 15px 0 0 0;
          text-align: center; }
          .login-comp .container-login .box-form-login .content .forgot-password a {
            text-decoration: none; }

* {
  font-family: "Roboto", "sans-serif"; }

.gradient-color-primary, .sidebar, .login-comp .container-login, .add-popup .popup-container .box-content .footer-content {
  background: -webkit-linear-gradient(right top, #79BE75, #27A1C3);
  background: -moz-linear-gradient(right top, #79BE75, #27A1C3);
  background: -o-linear-gradient(right top, #79BE75, #27A1C3);
  background: linear-gradient(right top, #79BE75, #27A1C3); }

.radius-primary, .login-comp .container-login .box-form-login .content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.radius-secondary, .form-primary, .login-comp .container-login .box-form-login .content .form form .form-input, .checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox, .button-primary, .add-popup .popup-container .box-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.radius-bottom-primary, .add-popup .popup-container .box-content .footer-content {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.font-family-primary, .login-comp .container-login .box-form-login .content .title {
  font-family: "Roboto", "sans-serif"; }

.font-primary, .header-comp .header-container .box-title p, .header-comp .header-container .box-user .box-user-text .username, .login-comp .container-login .box-form-login .content .form form .remember-me, .user-access .user-access-container .box-top .option-input, .user-access .user-access-container .box-top .search-item, .user-access .user-access-container .box-table table thead tr th, .user-access .user-access-container .box-table table tbody tr td, .user-access .user-access-container .box-footer-table .footer-table .text-footer, .add-popup .popup-container .box-content .content .sub-title {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #767676; }

.font-secondary, .login-comp .container-login .box-form-login .content .forgot-password a {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #79BE75; }

.font-secondary-2, .button-primary, .list-menu .box-text-menu p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #FFFFFF; }

.font-secondary-3 {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  color: #FFFFFF; }

.font-secondary-4, .header-comp .header-container .box-user .box-user-text .status {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #B7B7B7; }

.font-secondary-5, .user-access .user-access-container .box-top .count-item {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  color: #27A1C3; }

.font-secondary-6, .add-popup .popup-container .box-content .content .title {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  color: #27A1C3; }

.form-primary, .login-comp .container-login .box-form-login .content .form form .form-input {
  border: 1px solid #DDDDDD;
  width: calc(100% - 15px);
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  outline: none; }

.checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox {
  border: 1px solid #DDDDDD;
  cursor: pointer;
  font-size: 14px;
  outline: none; }

.placeholder-primary ::-webkit-input-placeholder, .login-comp ::-webkit-input-placeholder, .user-access ::-webkit-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary ::-moz-placeholder, .login-comp ::-moz-placeholder, .user-access ::-moz-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-ms-input-placeholder, .login-comp :-ms-input-placeholder, .user-access :-ms-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-moz-placeholder, .login-comp :-moz-placeholder, .user-access :-moz-placeholder {
  color: #B7B7B7; }

.transition {
  transition: all 0.25s ease-in-out; }

* {
  padding: 0;
  margin: 0; }

.user-access {
  margin: 100px 0px 0 235px;
  position: absolute;
  width: calc(100% - 235px);
  height: 100px; }
  .user-access .user-access-container .box-top .count-item {
    padding: 0 0 25px 26px;
    margin: 5px 0 0 0;
    float: left; }
  .user-access .user-access-container .box-top .option-input {
    margin: -5px 0 0 12px;
    width: 185px;
    height: 40px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-appearance: none;
    border: 1px solid #DDDDDD;
    background: none;
    outline: none;
    padding: 12px;
    float: left; }
  .user-access .user-access-container .box-top .search-item {
    display: block;
    float: left;
    bottom: 0;
    top: 100px;
    outline: none;
    padding: 0 0 0 12px;
    border: 1px solid #DDDDDD;
    margin: -5px 0 0 12px !important;
    width: 185px;
    height: 38px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px; }
  .user-access .user-access-container .box-top .role-filter {
    margin: -5px 0 0 12px !important; }
  .user-access .user-access-container .box-top .box-btn {
    position: absolute;
    right: 0;
    margin: -5px 27px 0 0;
    max-width: 130px;
    min-width: 130px; }
  .user-access .user-access-container .box-table table {
    border-collapse: collapse;
    width: 100%; }
    .user-access .user-access-container .box-table table thead {
      border-top: 1px solid #D6D6D6;
      border-bottom: 1px solid #D6D6D6; }
      .user-access .user-access-container .box-table table thead tr th {
        padding: 14px 14px 14px 14px;
        text-align: left; }
        .user-access .user-access-container .box-table table thead tr th:first-child {
          padding: 0 0 0 27px; }
    .user-access .user-access-container .box-table table tbody {
      border-bottom: 1px solid #D6D6D6; }
      .user-access .user-access-container .box-table table tbody tr {
        height: 56px; }
        .user-access .user-access-container .box-table table tbody tr td {
          padding: 0 0 0 15px;
          line-height: 20px; }
          .user-access .user-access-container .box-table table tbody tr td:first-child {
            padding: 0 0 0 27px;
            font-weight: 600; }
      .user-access .user-access-container .box-table table tbody .list-grey {
        background-color: #F7F7F7; }
  .user-access .user-access-container .box-footer-table .footer-table {
    width: 100%;
    height: 56px;
    border-bottom: 1px solid #D6D6D6; }
    .user-access .user-access-container .box-footer-table .footer-table .text-footer {
      padding: 20px 0 0 27px; }

* {
  font-family: "Roboto", "sans-serif"; }

.gradient-color-primary, .sidebar, .login-comp .container-login, .add-popup .popup-container .box-content .footer-content {
  background: -webkit-linear-gradient(right top, #79BE75, #27A1C3);
  background: -moz-linear-gradient(right top, #79BE75, #27A1C3);
  background: -o-linear-gradient(right top, #79BE75, #27A1C3);
  background: linear-gradient(right top, #79BE75, #27A1C3); }

.radius-primary, .login-comp .container-login .box-form-login .content {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.radius-secondary, .form-primary, .login-comp .container-login .box-form-login .content .form form .form-input, .checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox, .button-primary, .add-popup .popup-container .box-content {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px; }

.radius-bottom-primary, .add-popup .popup-container .box-content .footer-content {
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -ms-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
  -ms-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.font-family-primary, .login-comp .container-login .box-form-login .content .title {
  font-family: "Roboto", "sans-serif"; }

.font-primary, .header-comp .header-container .box-title p, .header-comp .header-container .box-user .box-user-text .username, .login-comp .container-login .box-form-login .content .form form .remember-me, .user-access .user-access-container .box-top .option-input, .user-access .user-access-container .box-top .search-item, .user-access .user-access-container .box-table table thead tr th, .user-access .user-access-container .box-table table tbody tr td, .user-access .user-access-container .box-footer-table .footer-table .text-footer, .add-popup .popup-container .box-content .content .sub-title {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #767676; }

.font-secondary, .login-comp .container-login .box-form-login .content .forgot-password a {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #79BE75; }

.font-secondary-2, .button-primary, .list-menu .box-text-menu p {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #FFFFFF; }

.font-secondary-3 {
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  color: #FFFFFF; }

.font-secondary-4, .header-comp .header-container .box-user .box-user-text .status {
  font-family: "Roboto", "sans-serif";
  font-size: 14px;
  color: #B7B7B7; }

.font-secondary-5, .user-access .user-access-container .box-top .count-item {
  font-family: "Roboto", "sans-serif";
  font-size: 16px;
  color: #27A1C3; }

.font-secondary-6, .add-popup .popup-container .box-content .content .title {
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  color: #27A1C3; }

.form-primary, .login-comp .container-login .box-form-login .content .form form .form-input {
  border: 1px solid #DDDDDD;
  width: calc(100% - 15px);
  height: 40px;
  font-size: 14px;
  padding-left: 15px;
  outline: none; }

.checkbox-primary, .login-comp .container-login .box-form-login .content .form form .add-checkbox {
  border: 1px solid #DDDDDD;
  cursor: pointer;
  font-size: 14px;
  outline: none; }

.placeholder-primary ::-webkit-input-placeholder, .login-comp ::-webkit-input-placeholder, .user-access ::-webkit-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary ::-moz-placeholder, .login-comp ::-moz-placeholder, .user-access ::-moz-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-ms-input-placeholder, .login-comp :-ms-input-placeholder, .user-access :-ms-input-placeholder {
  color: #B7B7B7; }

.placeholder-primary :-moz-placeholder, .login-comp :-moz-placeholder, .user-access :-moz-placeholder {
  color: #B7B7B7; }

.transition {
  transition: all 0.25s ease-in-out; }

* {
  padding: 0;
  margin: 0; }

.add-popup {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  background-color: rgba(57, 57, 57, 0.6); }
  .add-popup .popup-container {
    max-width: 552px;
    margin: 0 auto; }
    .add-popup .popup-container .box-content {
      width: 552px;
      height: auto;
      margin: 20px 0 0 0;
      background-color: #FFFFFF; }
      .add-popup .popup-container .box-content .content {
        padding: 20px 0 0 20px; }
        .add-popup .popup-container .box-content .content .title {
          font-weight: 500; }
        .add-popup .popup-container .box-content .content .sub-title {
          padding: 5px 0 0 0; }
      .add-popup .popup-container .box-content .footer-content {
        margin: 25px 0 0 0;
        width: 100%;
        height: 4px; }

.text-center {
  text-align: center; }
