//base
@import "base/base";
@import "base/helper";

//admin
@import "component/admin/admin";
@import "component/admin/popup";

//common
@import "component/common/button";
@import "component/common/input_form";
@import "component/common/header";
@import "component/common/tags";

//common sidebar
@import "component/common/sidebar/sidebar";
@import "component/common/sidebar/list_menu";

//compont general
@import "component/login_comp";

.edit-rab{
	line-height: 12px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 12px;
	cursor: pointer;
	img {
		height: 12px;
		margin-right: 3px;
	}
}

.footer-table.rab {
	width: 50%;
    box-sizing: border-box;
    padding-top: 3px;
    border-top: 1px solid #d5d5d5;

	.text-footer{
		padding-top: 10px;
	}

	.box-btn{
		width: 150px;
		float: right;
		margin-right: 30px;
	}
}

.rab-detail{
	.box-footer-table{
		.footer-table{
			.text-footer{
				@media(max-width: $screen-phone){
					text-align: left;
				}
			}
		}
	}
}

.table-rab-detail tr:last-child{
	border-bottom: unset;
}

.table-rab-detail{
	tr{
		td {
			@media(max-width: $screen-phone){
				display: flex !important;
			}

			.select-wrapper{
				@media (max-width: $screen-phone){
				    width: calc(100% - 75px) !important;
   					 margin-right: -7px !important;
				}
			}

			&:last-child{
				display: block !important;
			}
		}
	} 
}

