@import "../../../base/base";

.list-menu{
    opacity: 0.6;
    padding: 14px 10px 10px 26px;
    margin-bottom: 5px;
    cursor: pointer;
    &:hover{
        @include color-opacity-2(0.2);
    }
    .box-icon{
        max-width: 23px;
        img{}
    }
    .box-text-menu{
        margin: -22px 0 0 35px;
        float: left;
        p{
            @extend .font-secondary-2
        }
    }
}

.list-menu-active{
    opacity: 1;
    position: relative;

    .active-mark{
        position: absolute;
        margin: -3px 0 0 0;
        right: 0;
        bottom: 16px;
        width: 0; 
        height: 0; 
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent; 
        border-right:8px solid $color-01;
    }
}