@import "../../../base/base";

.expand-list{
    opacity: 0.7;
    padding: 15px 15px 15px 34px;
    border-top: 1px solid color-opacity-3(1);
    cursor: pointer;
    &:hover{
        @include color-opacity-2(0.2);
    }
    .box-icon{
        max-width: 5px;
        .circle-icon{
            width: 5px;
            height: 5px;
            border-radius: 50%;
            // background-color: $color-01;
            border: 1px solid $color-01;
        }
        img{}
    }
    .box-text-menu{
        margin: -11px 0 0 30px;
        float: left;
        p{
            @extend .font-secondary-3
        }
    }
}