p{
    color: $color-02;
    font-size: 14px;
}
.main-content{
    position: relative;
    right: 0px;
    @media screen and (min-width: $screen-desktop){
        margin: 0 0 0 235px;
        padding-top: 0px;
    }

    .nowrap{
        .text-info{
            white-space: nowrap;
            max-width: 94px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .dashboard{
        @media screen and (min-width: $screen-desktop){
            padding-top: 75px;
        }

        .dashboard-top{
            
            @media screen and (min-width: $screen-desktop){
                width: 100%;
                box-sizing: border-box;
                display: inline-block;
            }

            border-bottom: 1px solid $color-04;
            .box-stat{
                width: 100%;
                box-sizing: border-box;
                border-bottom: 1px solid $color-04;
                
                @media screen and (min-width: $screen-phone){
                    display: flex;
                }

                @media screen and (min-width: $screen-desktop){
                    width: 60%;
                    box-sizing: border-box;
                    float: left;
                    border-bottom: none;
                }

                .box{
                    padding: 40px;
                    border-right: 1px solid $color-04;
                    border-bottom: 1px solid $color-04;

                    @media screen and (min-width: $screen-phone){
                        border-bottom: none;
                        width: (10/3)*10%;
                    }

                }
            }
            .box-tiket{
                padding: 40px;
                
                @media screen and (min-width: $screen-desktop){
                    width: 40%;
                    box-sizing: border-box;
                    float: left;
                }

                &.pd-r-0{
                    padding-right: 0px;
                }

                .chart-wrapper{
                    overflow: hidden;

                    @media screen and (min-width: $screen-phone){
                        display: flex;
                        justify-content: space-between;
                    }

                    ul{
                        
                        list-style: none;

                        li{
                            display: flex;
                            justify-content: flex-start;
                            white-space: nowrap;
                            padding-top: 15px;
                            font-size: 14px;
                            color: $color-02;

                            span{
                                height: 12px;
                                flex: 0 0 12px;
                                margin: 3px;
                                margin-right: 10px;
                                border-radius: 100%;
                            }
                        }
                    }
                    
                    .chart-container{
                        height: 150px;
                        margin-top: 40px;

                        @media screen and (min-width: $screen-phone){
                            float: right;
                            height: 100px;
                        }

                        @media screen and (min-width: $screen-desktop){
                            margin-top: 0px;
                            margin-left: -50px;
                        }
                    }
                    
                }
            }
        }

        .dashboard-middle{
            border-bottom: 1px solid $color-04;
            @media screen and (min-width: $screen-phone){
                display: inline-block;
                margin-top: -5px;
                width: 100%;
            }

            .box-program-wrapper{
                @media screen and (min-width: $screen-desktop){
                    display: flex;
                    width: 60%;
                    box-sizing: border-box;
                    float: left;
                }
            }

            .box-program{
                    padding: 40px;
                    border-right: 1px solid #DDDDDD;
                    border-bottom: 1px solid #DDDDDD;
                    @media screen and (min-width: $screen-phone){
                        width: 100%;
                        float: left;
                    }
                    @media screen and (min-width: $screen-desktop){
                        width: calc(33.333% * 2);
                        box-sizing: border-box;
                        border-bottom: none;
                    }
                
                &.pd-r-0{
                    padding-right: 0px;
                }

                .chart-wrapper{
                    overflow: hidden;

                    @media screen and (min-width: $screen-phone){
                        display: flex;
                        justify-content: space-between;
                    }

                    ul{
                        
                        list-style: none;

                        li{
                         
                            white-space: nowrap;
                            padding-top: 15px;
                            font-size: 14px;
                            color: $color-02;

                            span{
                                height: 12px;
                                flex: 0 0 12px;
                                margin: 3px;
                                margin-right: 10px;
                                border-radius: 100%;
                            }
                        }
                    }

                    .chart-container{
                        height: 150px;
                        margin-top: 40px;

                        @media screen and (min-width: $screen-phone){
                            float: right;
                            height: 100px;
                        }

                        @media screen and (min-width: $screen-desktop){
                            margin-top: 0px;
                            margin-left: -50px;
                        }

                    }

                }
            }

            .box-program-active{
                padding: 40px;
                border-right: 1px solid $color-04;
                border-bottom: 1px solid $color-04;

                @media screen and (min-width: $screen-phone){
                    float: left;
                    width: 20%;
                    border-bottom: none;
                }

                @media screen and (min-width: $screen-desktop){
                    box-sizing: border-box;
                    width: 33.3333%;
                    height: 197px;
                    float: left;
                }
            }

            .box-stat-lahan{
                padding: 40px;
                @media screen and (min-width: $screen-phone){
                    width: calc(80% - 165px);
                    float: left;
                }

                @media(min-width: $screen-desktop){
                    box-sizing: border-box;
                    width: 40%;
                    float: left;
                    height: 197px;
                }

            }
        }

        .dashboard-bottom{
          
            border-bottom: 1px solid $color-04;

            @media(min-width: $screen-desktop){
                display: inline-block;
                width: 100%;
                margin-top: -5px;
            }

            .box-kegiatan{
                border-right: 1px solid $color-04;
                
                @media(min-width: $screen-desktop){
                    width: 60%;
                    box-sizing: border-box;
                    float: left;
                }
                .box-top{
                    padding: 15px 0;
                    width: 100%;
                    margin-top: 0px;

                    @media screen and (min-width: $screen-phone){
                        display: table;
                        margin-top: 25px;
                    }

                    .table-heading{
                        padding-left: 27px;
                        @media screen and (min-width: $screen-phone){
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                    .search-wrapper{
                        padding-left: 27px;
                        margin-top: 20px;
                        
                        @media screen and (min-width: $screen-phone){
                            display: table-cell;
                            padding-right: 30px;
                            padding-left: 0px;
                            margin-top: 0px;
                        }

                        input{
                            float: none;

                            @media screen and (min-width: $screen-phone){
                                float: right;
                            }
                        }
                    }
                }

                .box-table{
                    overflow: scroll;
                }
            }

            .box-petani-nganggur{
                width: 100%;

                @media(min-width: $screen-desktop){
                    width: 40%;
                    box-sizing: border-box;
                    float: left;
                }
                .box-top{
                    padding: 15px 0;
                    width: 100%;
                    margin-top: 0px;

                    @media screen and (min-width: $screen-phone){
                        display: table;
                        margin-top: 25px;
                    }

                    .table-heading{
                        padding-left: 27px;
                        @media screen and (min-width: $screen-phone){
                            display: table-cell;
                            vertical-align: middle;
                        }
                    }
                    .search-wrapper{
                        padding-left: 27px;
                        margin-top: 20px;
                        
                        @media screen and (min-width: $screen-phone){
                            display: table-cell;
                            padding-right: 30px;
                            padding-left: 0px;
                            margin-top: 0px;
                        }

                        input{
                            float: none;

                            @media screen and (min-width: $screen-phone){
                                float: right;
                            }
                        }
                    }
                }

                .box-table{
                    overflow: scroll;
                }
            }
        }
    }

    .edit-akun{
        overflow: hidden;

        @media(min-width: $screen-desktop){
            padding-top: 75px;
        }
        .content-top{
            display: inline-block;
            width: 100%;

            @media(min-width: $screen-phone){
                padding: 0 25px;
            }
            .box-picture{
                padding: 15px 15px 15px 0px;
                width: 166px;
                height: 166px;
                float: left;

                @media(max-width: $screen-phone){
                    margin: auto;
                    text-align: center;
                    float: none;
                    padding: 40px 0 0px;
                }
                .picture-wrapper{
                    height: 100%;
                    width: 100%; 
                    position: relative;
                    transition: .5s all ease;
                    cursor: pointer;
                    img.image-profile{
                        @include border-radius(100%);
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        object-position: center;
                    }

                    &:hover .hidden-hover{
                        display: block;
                        transition: .5s all ease;
                    }

                    .hidden-hover{
                        transition: .5s all ease;
                        display: none;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background-color: rgba(0,0,26,0.6);
                        border-radius: 100%;
                        text-align: center;

                        img{
                            width: 60px;
                            margin: auto;
                            object-fit: none;
                            object-position: unset;
                            height: 60px;
                            display: block;
                            vertical-align: middle;
                            border-radius: 0;
                            margin-top: 43px;
                        }

                        span{
                            color: white;
                        }
                    }

                    input[type=file]{
                        position: absolute;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        opacity: 0;
                        cursor: pointer;
                    }
                }
            }
            .box-profile-form{
                padding: 15px 0 15px 15px;
                float: left;
                @extend .row-flex;

                @media(max-width: $screen-desktop){
                    padding-left: 0px;
                }

                @media(max-width: $screen-phone){
                    width: calc(100% - 50px);
                    padding: 0 25px;
                }

                .sub-box{
                    .select-wrapper.bank{
                        float: none;
                        width: 100%;
                        height: 50px;

                        select{
                            width: 100%;
                        }
                    }
                }

                .box-1,.box-2{
                    padding: 5px 15px 0 0px;
                    display: block;

                    @media(max-width: $screen-phone){
                        width: 100%;
                        padding: 0;
                    }

                    .form-control{
                        width: 240px;

                        @media(max-width: $screen-phone){
                            width: 100%;
                            float: none;
                            box-sizing: border-box;
                        }
                    }

                    .react-datepicker-wrapper{
                        @media(max-width: $screen-phone){
                            width: 100%;
                        }

                        .react-datepicker__input-container{
                            @media(max-width: $screen-phone){
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        .content-bottom{
            display: inline-block;
            width: 100%;
            padding: 0 25px;

            @media(max-width: $screen-phone){
                width: calc(100% - 50px);
            }
            p{
                padding-bottom: 5px;
            }
            .box-alamat{
                width: 100%;
                float: left;
                
                @media(min-width: $screen-phone){
                    width: 560px;
                }
                textarea{
                    resize: none;
                    color: $color-02;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    height: 60px;
                    width: 100%;
                    box-sizing: border-box;
                }
                
                .row-flex{
                    width: 100%;
                    .form-control{
                        width: 130px;
                        margin-right: 10px !important;

                        @media(max-width: $screen-phone){
                            width: 100%;
                            box-sizing: border-box;
                        }

                        &.select-option{
                            width: 180px;
                            height: 40px;
                            font-size: 14px;

                            @media(max-width: $screen-phone){
                                width: 100%;
                            }
                        }
                    }
                }
            }
            .box-informasi-akun{
                padding: 0 30px;
                width: 500px;
                float: left;

                .form-control{
                    margin-right: 10px !important;
                    width: 225px;
                }
            }
        }

        .button-primary{
            float: left;
            width: 195px;
            margin-left: 25px;
            margin-top: 20px;

            @media(max-width: $screen-phone){
                width: calc(100% - 50px);
                margin: 0;
                margin: 0 25px;
                box-sizing: border-box;
            }
        }
    }

    .tiket-program{
        .box-status{
            width: 100%;
            box-sizing: border-box;
            display: inline-block;
            border-bottom: 1px solid $color-05;
            border-top: 1px solid $color-05;

            .col-3{
                    padding: 30px 15px;
                    border-right: 1px solid $color-05;

                    @media(min-width: $screen-desktop){
                        width: calc(100% / 3);
                        float: left;
                        box-sizing: border-box;
                    }

            }

            .col-4{
                padding: 30px 15px;
                border-right: 1px solid $color-05;

                @media(min-width: $screen-desktop){
                    width: calc(100% / 4);
                    float: left;
                    box-sizing: border-box;
                }
            }

            h3{
                font-size: 60px;
                font-weight: 300;
            }

        }

        .box-table{
            table {
                overflow-x: hidden;
                overflow-y: visible;
            }
        }

        .box-top .search-item, .select-wrapper.dropdown{
            @media(min-width: $screen-tablet){
                width: 170px !important;
            }
        }

        .input-plus-min{
            input{
                width: calc(100% - 91px);
            }

            button{
                cursor: pointer;
            }
        }

        .dropdown-three{
            position: relative;

            .dropdown-collapse{
                display: none;
                @extend .dropdown-collapse;

                &.active{
                    display: block;
                    left: -200px;
                    padding: 10px 15px;
                    width: 180px;
                    border-radius: 5px;
                    
                    li{
                        padding: 5px 0;

                        &:last-child{
                            color: $color-warning;
                        }

                        a{
                            text-decoration: none;
                            display: block;
                        }

                        &:hover{
                            background-color: $color-primary;
                            color: white;
                            margin: 0 -15px;
                            padding-left: 15px;

                            a{
                                color: white;
                            }
                        }

                    }
                }
            }
        }
    }

    .ajukan-program{
        .box-top{
            margin-top: 0px;
            .row-flex{
                margin-bottom: 10px;

                .w-40{
                    width: 40%;
                    padding: 10px;

                    &.row-flex{
                        .w-50{
                            width: 50%;
                            padding: 0 10px;
                        }
                    }
                }

                .w-60{
                    width: 60%;
                    padding: 10px;

                    .w-33{
                        width: (3/10)*100%;
                        padding: 0 10px;
                    }
                }

                .strong{
                    white-space: nowrap;
                }
            }
        }

        .strong{
            a{
                font-weight: normal;
                text-decoration: none;
            }
        }
        .box-footer-table{
            .box-pagination{
                .pagination-content{
                    right: 65px;
                }
            }
        }

        .pull-left{
            &.row-flex{
                .box-btn{
                    button{
                        padding: 10px 20px;
                    }
                }
            }
        }
    }
}

.dropdown-collapse{
    position: absolute;
    z-index: 9999;
    left: -1px;
    top: 35px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #fff;
    padding: 15px 0px 15px 10px;
    border: 1px solid #d5d5d5;

    .row-flex{

        &.col-2{
            .input-form{
                width: 190px;
                margin-right: 10px;

                .icon-form{
                    top: 17px;
                    right: 9px;
                }

                &.input-plus-min{
                    .form-control{
                        padding-right: 30px;
                        padding-left: 60px;
                    }

                    span{
                        position: absolute;
                        right: 60px;
                        top: 15px;
                    }

                    .buttonmin{
                        position: absolute;
                        left: 13px;
                        top: 15px;
                        background: none;
                        border: none;
                        outline: none;
                        font-size: 16px;
                    }

                    .buttonplus{
                        position: absolute;
                        right: 13px;
                        top: 15px;
                        background: none;
                        border: none;
                        outline: none;
                        font-size: 16px;
                    }
                }
            }

            .select-wrapper{
                margin-right: 10px;
                &:after{
                    top: 22px;
                }

                .option-input{
                    margin: 5px 1px;
                }
            }
        }
    }

    .row{
        &.w-100{
            .input-form{
                width: calc(100% - 10px);
            }
        }
    }
}

.box.text-center{
    @media(min-width: $screen-phone){
         height: 90px;
        line-height: 60px;
    }

    @media(min-width: $screen-desktop){
        height: 116px;
    }
    h3{
        font-weight: 300;
        font-size: 60px;
        color: $color-primary;
        letter-spacing: -1px;

        .text-muted{
            font-size: 30px;
            color: $color-02;
        }

        sup{
            font-size: 24px;
        }
    }

    p{
        line-height: 22px;
    }
}


.user-access{
    width: 100%;
    height: 100%;
    @extend .placeholder-primary;

    .user-access-container.no-content{
        margin-top: 150px;

        .box-btn{
            max-width: 150px;
            margin: 20px auto;
        }

        img{
            margin-left: -15px;
        }
    }

    .block{
        .text-info{
            cursor: pointer;
            white-space: nowrap;
        }
    }
    
    @media(min-width: $screen-phone){
        position: absolute;
    }
    @media(min-width: $screen-desktop){
        margin-top: 75px;
    }

    .box-top{
        @media(max-width: $screen-phone){
            overflow: hidden;
        }
        .pull-left{
            @media(max-width: $screen-phone){
                margin: auto;
            }
            &.row-flex{
                padding: 0 25px;
                width: calc(100% - 50px);

                @media(min-width: $screen-phone){
                    padding: 0;
                }
            }
        }   
    }

    &.rab-detail{
        .box-top{
            .pull-left{
                margin-left: 25px;
            }
        }
    }
}

.row-flex{
    .box-btn{
        padding: 5px;
    }
}

.box-btn.btn-kel{
    .button-primary{
        max-width: 180px !important;
    }
}

a.box-btn{
    button{
        max-width: 150px !important;
        margin-top: 20px !important;
    }
}