.add-popup{
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100vh;
    @include color-opacity-4(0.6);
    overflow-y: auto;

    @media(max-width: $screen-phone){
        overflow: scroll;
    }

    .popup-container{
        margin: 0 auto;

        @media(min-width: $screen-phone){
            width: 552px;
        }

        &.popup-peserta{
            width: 810px;
        }

        &.sm{
            width: 375px;
            @media(max-width: $screen-phone){
                width: 100%;
            }
        }

        &.md{
            width: 400px;
            @media(max-width: $screen-phone){
                width: 100%;
            }
        }

        &.popup-table{
            width: 613px;

            .content{
                padding: 20px 0 !important;

                .title{
                    padding-left: 20px !important;
                }

                .box-table{

                    table{
                        thead{
                            th{
                                &:first-child{
                                    padding-left: 20px !important;
                                }
                            }
                        }
                        tbody{
                            td{
                                &:first-child{
                                    padding-left: 20px !important;
                                }
                            }
                        }
                    }
                }

                .box-footer-table{
                    padding: 0 20px;
                    width: calc(100% - 40px) !important;
                    margin: 0;
                    border-top: 1px solid $color-05;

                    .box-btn{
                        max-width: 180px;
                        width: 100%;
                    }

                    .pull-right{
                        .box-pagination{
                            width: unset;
                            margin-top: 20px;

                            .pagination-content{
                                position: unset;
                                margin: 0;
                                right: unset;
                            }
                        }
                    }
                }
            }
        }

        .box-content{
            height: auto;
            margin: 20px 10px;
            background-color: $color-01;
            @extend .radius-secondary;

            @media(min-width: $screen-phone){
                margin: 20px 0 0 0;
            }

            .content{
                padding: 20px;
                
                @media(max-width: $screen-phone){
                    display: inline-block;
                    width: calc(100% - 40px);
                }

                .icon-success{
                    height: 100px !important;
                }

                .title{
                    @extend .font-secondary-6;
                    font-weight: 500;

                    &.warning{
                        color: $color-warning;
                    }
                }

                .input-form{
                    width: 100%;
                    margin-top: 10px;

                    .react-datepicker-wrapper{
                        @media(max-width: $screen-phone){
                            width: calc(100% + 4px);
                        }
                        
                        .react-datepicker__input-container{
                            @media(max-width: $screen-phone){
                                width: calc(100% + 4px);
                            }
                        
                            .form-control{
                                width: calc(100% + 4px) !important;
                                background-color: transparent !important;
                            }
                        }
                    }

                    img.icon-form{
                        @media(max-width: $screen-phone){
                            top: unset;
                            bottom: 20px;
                            right: -30px;
                        }
                    }
                }

                textarea{
                    resize: none;
                    color: $color-02;
                    padding-top: 15px;
                    padding-bottom: 15px;
                    height: 90px;
                    width: 100%;
                    box-sizing: border-box;
                }

                .strong{
                    margin-top: 10px;
                }

                .row-flex{
                    width: 100%;
                    &.col-2{
                       .input-form{
                         width: 250px !important;

                         @media(max-width: $screen-phone){
                            width: calc(100% - 50px) !important
                         }

                         input{
                            @media(max-width: $screen-phone){
                                width: 100%;
                            }
                         }

                       }

                       .select-option{
                            width: 250px;
                            margin-right: 10px;
                            height: 41px;

                            @media(max-width: $screen-phone){
                                width: 100%;
                            }
                        }
                    }
                    &.col-3{
                        .input-form{
                          width: 163px !important;

                          @media(max-width: $screen-phone){
                            width: calc(100% - 50px) !important
                          }

                           input{
                              @media(max-width: $screen-phone){
                                width: 100%;
                              }
                           }

                        }

                        .select-option{
                            width: 162px;
                            margin-right: 10px !important;
                            height: 41px;

                            @media(max-width: $screen-phone){
                                width: 100%;
                            }
                        }
                    }
                    .input-form{
                        margin-right: 10px;
                        margin-top: 0px !important;
                    }

                    &.mg-t-10{
                        margin-top: 10px;
                    }
                }

                .box-btn{
                    display: inline-block;
                    width: 80px;
                    margin-right: 10px;
                    margin-top: 10px;

                    &.auto{
                        width: auto;

                        button{
                            padding: 10px 20px;
                        }
                    }
                }

                .sub-title{
                    padding: 5px 0 0 0;
                    @extend .font-primary;
                }

                .text-center{
                    img{
                        height: 92px;
                        padding: 15px;
                    }
                }

                p{
                    @media(max-width: $screen-phone){
                        width: 100%;
                        float: left;
                    }
                }
            }
        }

        .box-table{
            overflow: scroll;
            max-width: 100%;
            display: -webkit-box;

            th{
                white-space: nowrap;
            }

            td{
                .select-wrapper{
                    width: 120px;

                    select{
                        width: 100%;
                    }
                }

                .input-form{
                    margin-top: 0px;
                }

                [type="checkbox"]:checked, [type="checkbox"]:not(:checked) {
                    display: none;
                }
            }
        }
        .footer-content{
            @extend .gradient-color-primary;
            margin: 25px 0 0 0;
            width: 100%;
            height: 4px;
            @extend .radius-bottom-primary;

            &.warning{
                @extend .gradient-color-warning;
            }
        }

        .refresh{
            img{
                height: 19px;
                margin-top: 10px;
                cursor: pointer;
            }
        }
    }
}

.add-popup-map{
    @extend .add-popup;
    .popup-container{
        max-width: 820px!important;

         @media(min-width: $screen-tablet){
            width: 820px;
        }

        .box-content{
            width: 820px!important;
            margin: 100px 0 0 0!important;

            @media(max-width: $screen-phone){
                width: 310px !important;
                 margin: 100px auto !important;

                 .content{
                    width: 100%;

                    .box-text{
                        display: inline-block;
                    }

                    p{
                        float: none;
                        width: auto;
                    }
                 }
            }
            .content{
                padding: 20px 0 0 0!important;
                .sub-title, .title {
                    padding: 0 0 0 20px!important;
                }
        
                .cancel{
                    margin: 20px 0 0 20px!important;
                }
            }
        } 
    }  
    .react-tabs {
        width: 100%;
        margin: 12px 0 0 0;
        &__tab-list {
            margin: 0 0 10px;
            padding: 0;
        }

        .react-tabs__tab-list{
            @media (max-width: $screen-phone){
                display: flex;
            }
        }

        &__tab {
            outline: none;
            display: inline-block;
            list-style: none;
            cursor: pointer;
            width: calc(100% / 3);

            .tab-title{
                width: 100%;
                height: 55px;
                text-align: center;
                background-color: $color-11;
                p{
                    @extend .font-primary;
                    padding: 18px 0 0 0;
                }
            }

            &--selected {
                .tab-title{
                    height: 53px;
                    background-color: $color-01;
                    border-bottom: 2px solid $color-primary;
                    p{
                        font-weight: 500;
                        color: $color-primary;
                    }
                }
            }
            &:focus {
            outline: none;
                &:after {
                    content: "";
                }
            }
        }

        &__tab-panel {
            display: none;

            &--selected {
            display: block;
            }

            &--disabled {
            cursor: default;
            }
        }
    }

    .box-text{
        @media(max-width: $screen-phone){
            padding-left: 15px !important;
            padding-bottom: 10px;
            span{
                padding-left: 0px !important;
            }
        }
        .text-title{
            padding: 15px 0 20px 20px;
            font-weight: 500;
            color: $color-02;
            @media(min-width: $screen-phone){
                display: inline-block;
            }
        }
        .lat-long{
            font-weight: 500;
            color: $color-primary;
            @media(min-width: $screen-phone){
                display: inline-block;
                padding: 15px 0px;
            }
        }
    }

    .box-foto{
        p{
            padding: 15px 0 20px 20px!important;
        }

        img{
            height: 300px !important;
        }
    }

    &.land{
        .react-tabs__tab{
            width: 50%;
        }
    }
}
